<div class="about-container">
  <div class="about-infos">
    <div class="about-titles mouse-sensitive">
      <div class="moving-title">
        <div class="text-holder">
          <h1 class="reactive-title red-first">À Propos</h1>
        </div>
      </div>
    </div>
    <div>
      <p>
        Je suis Frédéric Gouarrigues, diplomé du Cégep de Matane en Techniques
        d’intégration multimédia et étudiant en Génie Logiciel à l'ÉTS.
      </p>
      <p>
        Étant passionné de technologie, fondamentalement créatif et avide
        d’apprendre, terminer mon parcours scolaire dans le multimédia et la
        programmation était pour moi évident. J’ai toujours excellé dans les
        domaines logiques, ce pourquoi j’ai décidé de me spécialiser dans la
        programmation, sans pour autant délaisser les autres pratiques. Motivé
        par la compétition et ma curiosité, je me pousse à toujours en apprendre
        plus de ce vaste domaine, en espérant ne jamais devoir m’arrêter.
      </p>
      <p>
        Enfin, bien que je souhaite me spécialiser en programmation, j’apprécie
        également toutes les autres facettes de la conception interactive. J’ai
        hâte de me dépasser sur toutes sortes de projets passionnants dans les
        années à venir.
      </p>
    </div>
  </div>

  <div class="coolternion-container">
    <div class="coolternion">
      <div class="coolternion-back">
        <img src="img/quaternioncorps.png" class="fluid" alt="mon corps" />
      </div>
      <div class="coolternion-front">
        <img
          src="img/quaterniontete.png"
          class="fluid"
          alt="ma tête qui tourne"
        />
      </div>
    </div>
  </div>
</div>
