<div class="projects-container">
    <div class="projects-titles">
        <div class="text-holder mouse-sensitive">
            <h1 class="reactive-title green">Mes</h1>
        </div>
        <div class="text-holder mouse-sensitive">
            <h1 class="reactive-title">Projets</h1>
        </div>
        <ul class="shuffle-filter">
            <li class="filter-button" data-target='programmation'>Programmation</li>
            <li class="filter-button" data-target='web'>Intégration Web</li>
            <li class="filter-button" data-target='audiovisuel'>Audiovisuel</li>
            <li class="filter-button" data-target='design'>Design</li>
        </ul>
    </div>

    <div class="shuffle">
        <ul class="shuffle-container">

        </ul>
    </div>
</div>